<div class="mat-breadcrumb d-print-none">
  <a mat-button routerLink="/" class="mat-breadcrumb-item">Home</a> / <a mat-button routerLink="/patients/{{patientId}}" class="mat-breadcrumb-item">{{ patient.name }}</a> / <button mat-button class="mat-breadcrumb-item" disabled>Encounters</button>
</div>

<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/patients/{{patientId}}">Patient</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ patient.name }}
    </li>
  </ol>
</nav> -->

<mat-card class="d-print-none mt-2">
  <mat-card-title>{{ patient.name }}</mat-card-title>
  <mat-card-subtitle>
    <strong>Age:</strong> {{ patient.age }} <strong>Sex:</strong> {{ patient.sex }}
  </mat-card-subtitle>
  <mat-card-content>
    <strong>Blood Group:</strong> {{ patient.blood_group }} <br>
    <strong>Phone:</strong> {{ patient.phone }} <br>
    <strong>Email:</strong> {{ patient.email }} <br>
    <strong>Address:</strong> {{ patient.address }}
  </mat-card-content>
</mat-card>

<div class="row mt-3">
  <div class="col-md-3">
    <mat-card class="d-print-none">
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" class="custom-mat-list-item" *ngFor="let encounter of encounters">
            <a mat-raised-button class="w-100 text-start" [class.active]="encounterId == encounter.id" routerLink="/patients/{{patientId}}/encounters/{{encounter.id}}">
              {{ encounter.date| date:'fullDate' }}
            </a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-9">
    <mat-tab-group>
      <mat-tab label="C/C">
        <form class="mat-form mb-3" #symptomForm="ngForm"
          (ngSubmit)="addSymptom(symptomForm.value); symptomForm.reset();">
          
          <mat-form-field class="mat-form-field" appearance="outline" hidden>
            <mat-label>ID</mat-label>
            <input matInput [(ngModel)]="selectedSymptom.id" name="id">
          </mat-form-field>
          
          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Symptom</mat-label>
            <textarea matInput [(ngModel)]="selectedSymptom.symptom" #sym="ngModel" name="symptom" required></textarea>
            <mat-error *ngIf="sym.touched && sym.invalid">
              The <strong>symptom</strong> field is required.
            </mat-error>
          </mat-form-field>
          
          <button mat-raised-button type="button" color="warn" class="me-2"
            (click)="symptomForm.reset();">Reset</button>
          <button mat-raised-button color="primary" [disabled]="symptomForm.invalid">Save</button>
        </form>
        
        <mat-divider></mat-divider>
        
        <mat-list>
          <mat-list-item *ngFor="let symptom of symptoms">
            <h4 matLine>{{ symptom.symptom }}</h4>
            <button class="me-2" mat-icon-button color="primary" (click)="editSymptom(symptom.id);">
              <i class="material-icons">edit</i>
            </button>
            <button mat-icon-button color="warn" (click)="deleteSymptom(symptom.id);">
              <i class="material-icons">delete</i>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab label="Examination">
        <form #reportForm="ngForm" (ngSubmit)="updateExamination(reportForm.value); reportForm.reset()"
          class="mat-form">
          <mat-form-field class="mat-form-field" hidden>
            <input matInput [(ngModel)]="examination.id" name="id">
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="examination.pulse" placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field> -->

          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Pulse <sub>(BPM)</sub></mat-label>
            <input matInput [(ngModel)]="examination.pulse" name="pulse">
          </mat-form-field>

          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>BP</mat-label>
            <input matInput [(ngModel)]="examination.bp" name="bp">
          </mat-form-field>

          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Temperature <sub>(℉)</sub></mat-label>
            <input matInput [(ngModel)]="examination.temp" name="temp" placeholder="Normal 98℉">
          </mat-form-field>

          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Resp rate</mat-label>
            <input matInput [(ngModel)]="examination.resp_rate" name="resp_rate">
          </mat-form-field>

          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Height</mat-label>
            <input matInput [(ngModel)]="examination.height" name="height">
          </mat-form-field>

          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Lifestyle</mat-label>
            <input matInput [(ngModel)]="examination.lifestyle" name="lifestyle">
          </mat-form-field>

          <button mat-raised-button color="primary" [disabled]="reportForm.invalid">Save</button>
        </form>
      </mat-tab>

      <mat-tab label="Medicine">
        <form class="mat-form mb-3" [formGroup]="drugForm" (ngSubmit)="addDrug(drugForm.value); drugForm.reset();">
          <mat-form-field class="mat-form-field" hidden>
            <input matInput [(ngModel)]="selctedDrug.id" formControlName="id">
          </mat-form-field>
          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Medicine</mat-label>
            <input type="text" [(ngModel)]="selctedDrug.medicine" placeholder="Pick one" aria-label="Medicine" matInput formControlName="medicine"
              [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let medicine of filteredOptions | async" [value]="medicine.name">
                {{medicine.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
         
          <mat-form-field  appearance="outline">
            <mat-label>Power</mat-label>
            <mat-select [(ngModel)]="selctedDrug.power" formControlName="power" required>
              <mat-option *ngFor="let power of filteredmedicinePowers" [value]="power.id" selected>{{power.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Dosage</mat-label>
            <input matInput [(ngModel)]="selctedDrug.dosage" formControlName="dosage" required>
          </mat-form-field>

          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Instruction</mat-label>
            <input matInput [(ngModel)]="selctedDrug.instruction" formControlName="instruction" required>
          </mat-form-field>

          <button mat-raised-button type="button" color="warn" class="me-2" (click)="drugForm.reset();">Reset</button>
          <button mat-raised-button color="primary" [disabled]="drugForm.invalid">Save</button>
        </form>
        
        <mat-divider></mat-divider>
        
        <mat-list>
          <mat-list-item *ngFor="let drug of drugs">
            <h4 matLine>{{ drug.medicine.name }} {{ drug.power.value }} ({{ drug.dosage }}, {{ drug.instruction }})
            </h4>
            <!-- <button class="me-2" mat-icon-button color="primary" (click)="editDrug(drug.id);">
              <i class="material-icons">edit</i>
            </button> -->
            <button mat-icon-button color="warn" (click)="deleteDrug(drug.id);">
              <i class="material-icons">delete</i>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab label="Advice">
        <form class="mat-form mb-3" #adviceForm="ngForm" (ngSubmit)="addAdvice(adviceForm.value); adviceForm.reset();">
          <mat-form-field class="mat-form-field" appearance="outline" hidden>
            <mat-label>Id.</mat-label>
            <input matInput [(ngModel)]="selectedAdvice.id" name="id">
          </mat-form-field>
          
          <mat-form-field class="mat-form-field" appearance="outline">
            <mat-label>Advice</mat-label>
            <textarea matInput [(ngModel)]="selectedAdvice.advice" #adv="ngModel" name="advice" required></textarea>
            <mat-error *ngIf="adv.touched && adv.invalid">The <strong>advice</strong> field is required.</mat-error>
          </mat-form-field>
          
          <button mat-raised-button type="button" color="warn" class="me-2" (click)="adviceForm.reset();">Reset</button>
          <button mat-raised-button color="primary" [disabled]="adviceForm.invalid">Save</button>
        </form>

        <mat-divider></mat-divider>
        
        <mat-list>
          <mat-list-item *ngFor="let advice of advices">
            <h4 matLine>{{ advice.advice }}</h4>
            <button mat-icon-button color="warn" (click)="editAdvice(advice.id);">
              <i class="material-icons">edit</i>
            </button>
            <button mat-icon-button color="warn" (click)="deleteAdvice(advice.id);">
              <i class="material-icons">delete</i>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab label="Prescription">
        <mat-card #print>
          <mat-card-content class="print">
            <div class="row">
              <div class="col-7">
                <div><span class="title">Dr. {{ doctor.name }}</span></div>
                <div *ngIf="doctor.designation"><span>{{ doctor.designation }}</span></div>
                <div *ngIf="doctor.stength"><span>Stength:</span> {{ doctor.stength}}</div>
                <div *ngIf="doctor.registrationNumber"><span>Reg. No.:</span> {{ doctor.registrationNumber }}</div>
              </div>
              <div class="col-5">
                <div><span class="title">{{ pharmacy.name }}</span></div>
                <div *ngIf="pharmacy.phone"><span>Phone:</span> {{ pharmacy.phone }}</div>
                <div *ngIf="pharmacy.email"><span>Email:</span> {{ pharmacy.email }}</div>
                <div *ngIf="pharmacy.website"><span>Website:</span> {{ pharmacy.website }}</div>
                <div *ngIf="pharmacy.address"><span>Address:</span> {{ pharmacy.address }}</div>
              </div>
            </div>
            <hr>
            <div *ngIf="patient">
              <div class="row align-items-middle">
                <div class="col-8">
                  <div><span class="title">Patient: {{ patient.name }}</span></div>
                  <div><span>Sex:</span> {{ patient.sex }}, <span>Age:</span> {{ patient.age }}, <span>Blood Group:</span> {{ patient.blood_group }}</div>
                  <div><span>Phone:</span> {{ patient.phone }}, <span>Email:</span> {{ patient.email }}</div>
                  <div><span>Address:</span> {{ patient.address }}</div>
                </div>
                <div class="col-4">
                  <div><span>Encounter Id:</span> {{ selectedEncounter.id }}</div>
                  <div><span>Date:</span> {{ selectedEncounter.date| date:'fullDate' }}</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-4">
                <h4>Symptoms</h4>
                <hr>
                <ul>
                  <li *ngFor="let symptom of symptoms">
                    {{ symptom.symptom }}
                  </li>
                </ul>
                <h4>General Info</h4>
                <hr>
                <div>
                  <div><span>Pulse:</span> {{ examination.pulse }}</div>
                  <div><span>B.P.:</span> {{ examination.bp }}</div>
                  <div><span>Temp:</span> {{ examination.temp }}</div>
                  <div><span>Resp rate:</span> {{ examination.resp_rate }}</div>
                  <div><span>Height:</span> {{ examination.height }}</div>
                  <div><span>Lifestyle:</span> {{ examination.lifestyle }}</div>
                </div>
                <h4>Advices</h4>
                <hr>
                <ul>
                  <li *ngFor="let advice of advices">
                    {{ advice.advice }}
                  </li>
                </ul>

              </div>
              <div class="col-8">
                <h4>Medicines</h4>
                <hr>
                <ol *ngFor="let drug of drugs">
                  <li>{{ drug.medicine.name }} {{ drug.power.value }} ({{ drug.dosage }}, {{ drug.instruction }})</li>
                </ol>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <div class="text-center copyright">Designed & Developed By: <strong>Team R<sub>x</sub></strong></div>
          </mat-card-footer>
        </mat-card>

        <button mat-raised-button color="primary" class="mt-3 d-print-none" (click)="printPage()">Print</button>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>