<mat-card>
  <mat-card-title>{{patient$.name}}</mat-card-title>
  <mat-card-subtitle><strong>Age:</strong> {{ patient$.age }} <strong>Sex:</strong> {{ patient$.sex }}</mat-card-subtitle>
  <mat-card-content>
    <strong>Blood Group:</strong> {{ patient$.blood_group }} <br>
    <strong>Phone:</strong> {{ patient$.phone }} <br>
    <strong>Email:</strong> {{ patient$.email }} <br>
    <strong>Address:</strong> {{ patient$.address }}
  </mat-card-content>
</mat-card>

<div class="row mt-3">
  <div class="col-md-3">
    <mat-card>
      <mat-card-content>
        <form #encounterForm="ngForm" (ngSubmit)="addEncounter(encounterForm.value)" class="mat-form">
          <mat-form-field class="mat-form-field">
            <input matInput [matDatepicker]="picker" ngModel name="date" placeholder="Choose a date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field class="mat-form-field">
            <mat-label>Visit Type</mat-label>
            <mat-select ngModel name="visit_type">
              <mat-option *ngFor="let visit of visitTypes" [value]="visit.key">{{ visit.value }}</mat-option>
            </mat-select>
          </mat-form-field>
    
          <button mat-raised-button color="primary">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-9">
    <table mat-table [dataSource]="encounterDataSource">
      <ng-container matColumnDef="encounter">
        <th mat-header-cell *matHeaderCellDef> Encounter </th>
        <td mat-cell *matCellDef="let encounter"> {{encounter.date | date:'full'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let encounter">
          <a mat-raised-button color="primary" class="me-2" routerLink="/patients/{{patientId}}/encounters/{{encounter.id}}">
            <i class="material-icons">visibility</i>
          </a>
          
          <button mat-raised-button color="warn" (click)="deleteEncounter(encounter.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
